<!DOCTYPE html>
<html>
  <head>
    <title>We're at WARS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:name" content="We're at WARS">
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://lab.ring0.hk/wars/">
    <meta name="og:description" content="Wuhan Virus, Chinese Virus, Coronavirus, COVID-19, SARS-CoV-2, 2019-nCoV, Pandemic">
    <meta name="og:image" content="https://www.telegraph.co.uk/content/dam/news/2020/01/28/TELEMMGLPICT000222919873_trans_NvBQzQNjv4Bq6J6r0Dxf764MplSGmeYPZVTmGTZwRSZcqbDiPNar8DA.jpeg">
    <meta name="theme-color" content="#950f3b">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://lab.ring0.hk/css/svgMap.min.css">
    <style>
      .btn-rounded { border-radius: 10em; }
      #worldMapSliderLabels .slider-lower, #worldMapSliderLabels .slider-upper { font-size: 0.8em; }
      input[type=range].my-custom-range{-webkit-appearance:none;width:100%;margin:8px 0}input[type=range].my-custom-range:focus{outline:0}input[type=range].my-custom-range::-webkit-slider-runnable-track{width:100%;height:8px;cursor:pointer;box-shadow:.5px .5px 3px #888,0 0 .5px #959595;background:#ddd;border-radius:8px;border:.2px solid #010101}input[type=range].my-custom-range::-webkit-slider-thumb{box-shadow:2px 2px 4.1px #888,0 0 2px #959595;border:1px solid #ec407a;height:24px;width:12px;border-radius:12px;background:#ec407a;cursor:pointer;-webkit-appearance:none;margin-top:-8.2px}input[type=range].my-custom-range:focus::-webkit-slider-runnable-track{background:#e7e7e7}input[type=range].my-custom-range::-moz-range-track{width:100%;height:8px;cursor:pointer;box-shadow:.5px .5px 3px #888,0 0 .5px #959595;background:#ddd;border-radius:8px;border:.2px solid #010101}input[type=range].my-custom-range::-moz-range-thumb{box-shadow:2px 2px 4.1px #888,0 0 2px #959595;border:1px solid #ec407a;height:24px;width:12px;border-radius:12px;background:#ec407a;cursor:pointer}input[type=range].my-custom-range::-ms-track{width:100%;height:8px;cursor:pointer;background:0 0;border-color:transparent;color:transparent}input[type=range].my-custom-range::-ms-fill-lower{background:#d3d3d3;border:.2px solid #010101;border-radius:16px;box-shadow:.5px .5px 3px #888,0 0 .5px #959595}input[type=range].my-custom-range::-ms-fill-upper{background:#ddd;border:.2px solid #010101;border-radius:16px;box-shadow:.5px .5px 3px #888,0 0 .5px #959595}input[type=range].my-custom-range::-ms-thumb{box-shadow:2px 2px 4.1px #888,0 0 2px #959595;border:1px solid #ec407a;height:24px;width:12px;border-radius:12px;background:#ec407a;cursor:pointer;height:8px}input[type=range].my-custom-range:focus::-ms-fill-lower{background:#ddd}input[type=range].my-custom-range:focus::-ms-fill-upper{background:#e7e7e7}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="#top"><strong>We're at WARS</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#world">World</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#top9">Top 9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#europe">Europe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#americas">Americas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#apac">APAC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#central-south-asia">Central/South Asia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#middle-east">Middle East</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#africa">Africa</a>
            </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/kring0hk/wars-cfworker" target="_blank"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{> @partial-block}}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
      <script src="https://lab.ring0.hk/js/svgMap.min.js"></script>
    </main>
    <footer class="page-footer font-small pink">
      <div class="footer-copyright text-center py-3">
        Based on data by <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins University</a>
      </div>
    </footer>
  </body>
</html>
